// VARIABLES!

$main: #3E2A0D;

$mainDarker: #211708;

$mainLighter: #5F4015;
$mainLightest: #845614;


body {
	font-family: 'Lato', sans-serif;
	font-size: 20px;
	color: $main;
}

h2 {
	// font-family: 'Hind', sans-serif;
	font-weight: 300;
}

h1, h3, h6, p {
	// font-family: 'Cabin', sans-serif;
	font-weight: 400;
}

h1 {
	color: #000;
	font-size: 4.8em;
	line-height: 1;
	letter-spacing: 7px;
	text-transform: uppercase;
}

h2 {
	font-size: 1.65em;
	line-height: 1.3;
	letter-spacing: 0.8px;
}

h3 {
	font-size: 1.4em;
	letter-spacing: 1px;
}

h6 {
	font-size: 0.7em;
	letter-spacing: 0.2px;
	margin-bottom: 7px;
}

p {
	line-height: 1.5;
	letter-spacing: 0.4px;
}

a {
	text-decoration: none;
	color: $main;
	transition: color 0.4s;

	&:hover {
		color: $mainLightest;
	}
}



/* =================================
====================================
Media Queries */

@media (max-width: 1250px) {

	body {
		font-size: 19px;
	}

	h1 {
		font-size: 4.4em;
		letter-spacing: 6px;
	}

} // @media (max-width: 1250px)


@media (max-width: 1000px) {

	body {
		font-size: 16px;
	}

	h1 {
		font-size: 3.8em;
		letter-spacing: 5px;
	}

	h3 {
		letter-spacing: 0.8px;
	}

} // @media (max-width: 1000px)


@media (max-width: 770px) {

	h1 {
		font-size: 3em;
	}

} // @media (max-width: 770px)

@media (max-width: 650px) {

	h1 {
		font-size: 2.7em;
	}

} // @media (max-width: 650px)


@media (max-width: 450px) {

	h1 {
		font-size: 1.8em;
		letter-spacing: 2.5px;
	}

} // @media (max-width: 450px)
